<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, t('services.form.errors.title')) %> <%= t('services.form.errors.messages.prohibited') %>:</h2> // TODO
      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, t('services.form.name') %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price, t('services.form.price') %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, t('services.form.description') %>
    <%= form.text_area :description, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group">
    <%= form.label :image, t('services.form.image') %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit t('helpers.submit.create'), class: 'btn btn-primary' %>
  </div>
<% end %>
