<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1><%= @service.name %></h1>
      <% if @service.image.attached? %>
        <%= image_tag @service.image, alt: @service.name, class: 'img-fluid' %>
      <% end %>
    </div>
    <div class="col-md-8">
      <p><strong>Цена:</strong> <%= number_to_currency(@service.price) %></p>
      <p><strong>Описание:</strong></p>
      <p><%= @service.description %></p>
      <% if current_user.admin? %>
        <%= link_to 'Редактировать', edit_service_path(@service), class: 'btn btn-primary' %>
        <%= button_to 'Удалить', @service, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger' %>
      <% end %>
      <%= link_to 'Назад к списку', services_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
