<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h1><%= t('clinic.welcome_message') %></h1>
      <h3><%= t('clinic.our_services') %></h3>
    </div>
  </div>

  <!-- Раздел "Наши услуги" -->
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @services.each do |service| %>
      <div class="col">
        <div class="card h-100">
          <% if service.image.attached? %>
            <%= image_tag service.image, class: "card-img-top", alt: service.name %>
          <% else %>
            <p class="card-img-top-placeholder"><%= t('clinic.services.no_image') %></p>
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to t('clinic.services.show'), service_path(service, locale: I18n.locale) %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Раздел "Наши врачи" -->
  <section id="doctors" class="mt-5">
    <h2><%= t('clinic.our_doctors') %></h2>
    <p><%= t('clinic.qualified_doctors') %></p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @doctors.each do |doctor| %>
        <div class="col">
          <div class="card h-100">
            <% if doctor.image.attached? %>
              <%= image_tag doctor.image, class: "card-img-top", alt: doctor.name %>
            <% else %>
              <p class="card-img-top-placeholder"><%= t('clinic.doctors.no_image') %></p>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= doctor.name %></h5>
              <p class="card-text"><%= doctor.specialty %></p>
            </div>

            <div class="card-footer">
              <small class="text-muted"><%= t('clinic.doctors.updated_at') %>: <%= doctor.updated_at.strftime("%d %b, %Y") %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <!-- Раздел "Отзывы пациентов" -->
  <section id="testimonials" class="mt-5">
    <h2><%= t('clinic.patient_reviews') %></h2>
    <p><%= t('clinic.read_reviews') %></p>

    <%= render partial: 'reviews/review', collection: @reviews, as: :review %>

    <div id="show-more-container">
      <%= link_to t('clinic.show_all_reviews'), show_all_reviews_path, class: 'btn btn-primary', id: 'show-more-button' %>
    </div>
  </section>

  <!-- Раздел "Контактная информация" -->
  <section id="contact" class="mt-5">
    <h2><%= t('clinic.contact_info') %></h2>
    <address>
      <strong><%= t('clinic.address_label') %>:</strong> <%= t('clinic.address') %><br>
      <strong><%= t('clinic.phone_label') %>:</strong> <%= t('clinic.phone') %><br>
      <strong>Email:</strong> <a href="mailto:info@visionclinic.ru">info@visionclinic.ru</a>
    </address>
  </section>
</div>
