<h1>Добро пожаловать в офтальмологическую клинику "Видение"!</h1>
<h3>Наши услуги</h3>

<div class="container mt-sm-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @services.each do |service| %>
      <div class="col">
        <div class="card h-100">
          <% if service.image.attached? %>
            <%= image_tag service.image, class: "card-img-top" %>
          <%# else %>
<!--            <img src="placeholder-image-path.jpg" class="card-img-top" alt="...">-->
          <% end %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to service.name, service_path(service), class: 'stretched-link' %>
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- Пример раздела с врачами-->
<section id="doctors">
    <h2>Наши врачи</h2>
    <p>В нашей клинике работают высококвалифицированные врачи-офтальмологи.</p>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <% @doctors.each do |doctor| %>
        <div class="col">
          <div class="card h-100">
            <% if doctor.image.attached? %>
              <%= image_tag doctor.image, class: "card-img-top", alt: doctor.name %>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= doctor.name %></h5>
              <p class="card-text"><%= doctor.specialty %></p>
            </div>

            <div class="card-footer">
              <small class="text-body-secondary">Последнее обновление: <%= doctor.updated_at.strftime("%d %b, %Y") %></small>
            </div>
          </div>
        </div>
      <% end %>
    </div>



  </section>

</section>

<!-- Пример раздела с отзывами-->
<section id="testimonials">
  <h2>Отзывы пациентов</h2>
  <p>Читайте отзывы наших пациентов о качестве предоставляемых услуг.</p>
  <%= render partial: 'reviews/review', collection: @reviews, as: :review %>
</section>

 Пример раздела с контактной информацией
<section id="contact">
  <h2>Контактная информация</h2>
  <address>
    <strong>Адрес клиники:</strong> г. Москва, ул. Здоровья, д. 10<br>
    <strong>Телефон:</strong> 8 (800) 123-45-67<br>
    <strong>Email:</strong> <a href="mailto:info@visionclinic.ru">info@visionclinic.ru</a>
  </address>
</section>
