    <%= form_with(model: doctor, local: true, class: 'needs-validation') do |form| %>
      <% if doctor.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(doctor.errors.count, t('errors.messages.record_invalid')) %> <%= t('errors.messages.restricted') %> this doctor from being saved:</h2>
          <ul>
            <% doctor.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name, t('doctors.form.name'), class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :specialty, t('doctors.form.specialty'), class: 'form-label' %>
        <%= form.text_field :specialty, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :phone, t('doctors.form.phone'), class: 'form-label' %>
        <%= form.text_field :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :description, t('doctors.form.description'), class: 'form-label' %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :image, t('doctors.form.image'), class: 'form-label' %>
        <%= form.file_field :image, class: 'form-control-file' %>
      </div>

      <div class="form-group">
        <%= form.submit t('helpers.submit.create'), class: 'btn btn-primary' %>
      </div>
    <% end %>

