<% if current_user && (current_user.admin? || current_user == @doctor) %>
  <%= link_to t('doctors.index.new_doctor'), new_doctor_path, class: "btn btn-primary mb-3" %>
<% end %>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"><%= t('doctors.index.title') %></h2>
    </div>
  </div>

  <div class="row doctor-list">
    <% @doctors.each do |doctor| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-4" >
        <div class="card">
          <% if doctor.image.attached? %>
            <%= image_tag doctor.image, class: "card-img-top", alt: doctor.name, itemprop: "image" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title" itemprop="name"><%= doctor.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted" itemprop="description"><%= doctor.specialty %></h6>
            <%= link_to t('doctors.index.more'), doctor_path(doctor), class: 'btn btn-primary mb-2' %>
            <%= link_to t('doctors.index.appointment'), new_appointment_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
