
<%= form_with(model: @appointment, local: true, class: "needs-validation", novalidate: true) do |form| %>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :problem_id, t('.problem_label'), class: 'form-label' %>
      <%= form.select :problem_id, Appointment::PROBLEMS.map { |k, v| [v, k] }, { prompt: t('.problem_prompt') }, class: 'form-select', id: "appointment_problem_id", required: true %>
      <div class="invalid-feedback">
        <%= t('.problem_error') %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :info, t('.info_label'), class: 'form-label' %>
    <%= form.text_area :info, placeholder: t('.info_placeholder'), id: "appointment_info", class: 'form-control' %>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <%= form.label :appointment_date, t('.appointment_date_label'), class: 'form-label' %>
      <%= form.datetime_select :appointment_date, default: DateTime.now.in_time_zone('Moscow'), include_blank: false, minute_step: 30, class: 'form-control' %>
      <div class="invalid-feedback">
        <%= t('.appointment_date_error') %>
      </div>
    </div>

    <div class="col-md-6">
      <%= form.label :doctor_id, t('.doctor_label'), class: 'form-label' %>
      <%= form.collection_select :doctor_id, @doctors, :id, :name, { prompt: t('.doctor_prompt') }, class: 'form-select', id: "appointment_doctor_id", required: true if @doctors %>
      <div class="invalid-feedback">
        <%= t('.doctor_error') %>
      </div>
    </div>
  </div>


  <div class="mb-3">
    <%= form.submit t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
    // JavaScript for Bootstrap form validation
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>




