
<h1 class="mb-4"><%= t('appointments.title') %></h1>
<div class="mt-4">
  <%= link_to t('appointments.new_appointment'), new_appointment_path, class: 'btn btn-primary' %>
</div>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col"><%= t('appointments.doctor') %></th>
    <th scope="col"><%= t('appointments.appointment_time') %></th>
    <th scope="col"><%= t('appointments.problem_description') %></th>
    <th scope="col"><%= t('appointments.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.doctor.name %></td>
      <td><%= l appointment.start_time, format: :long %></td>
      <td><%= appointment.problem_description%></td>
      <td>
        <div class="card-footer d-flex justify-content-start">
          <%= button_to t('.cancel'), cancel_appointment_path(appointment), method: :patch, data: { confirm: t('.cancel_confirmation') }, class: 'btn btn-danger' %>
          <%= link_to t('.edit'), edit_appointment_path(appointment), class: 'btn btn-warning ml-2' %>
          <%= link_to t('.back_to_list'), appointments_path, class: 'btn btn-secondary ml-2' %>
        </div>

      </td>

    </tr>
  <% end %>
  </tbody>
</table>

