<p style="color: green"><%= notice %></p>

<p>
  <strong>Дата приема:</strong> <%= @appointment.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>
<p>
  <strong>Врач:</strong> <%= @appointment.doctor.name %>
</p>
<!--<p>-->
<!--  <strong>Описание проблемы:</strong> <%#= @appointment.problem_id %>-->
<!--</p>-->
<p>
  <strong>Описание проблемы:</strong> <%= Appointment::PROBLEMS[@appointment.problem_id] %>
</p>


<p>
  <strong>Возраст:</strong> <%= @appointment.age %>
</p>
<p>
  <strong>Доп. информация:</strong> <%= @appointment.info %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %>
<%= link_to 'Back to List', appointments_path %>
<%= button_to "Destroy this doctor", @appointment, method: :delete %>