<div class="container mt-4">
  <div class="alert alert-success" role="alert" style="color: green"><%= notice %></div>

  <div class="card mb-4">
    <div class="card-header">
      <h4><%= t('.appointment_details') %></h4>
    </div>
    <div class="card-body">
      <p>
        <strong><%= t('appointments.show.appointment_date') %>:</strong> <%= l @appointment.appointment_date, format: :long %>
      </p>
      <p>
        <strong><%= t('appointments.show.doctor') %>:</strong> <%= @appointment.doctor.name %>
      </p>
      <p>
        <strong><%= t('appointments.show.problem_description') %>:</strong> <%= Appointment::PROBLEMS[@appointment.problem_id] %>
      </p>
      <p>
        <strong><%= t('appointments.show.age') %>:</strong> <%= @appointment.age %>
      </p>
      <p>
        <strong><%= t('appointments.show.info') %>:</strong> <%= @appointment.info %>
      </p>
    </div>


  </div>
</div>

