<!--<h1>Review</h1>-->

<!--<p>-->
<!--  <strong>Name:</strong>-->
  <%#= @review.name %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Body:</strong>-->
  <%#= @review.body %>
<!--</p>-->
<%#= link_to 'Delete Review', review_path(@review), method: :delete, data: { confirm: 'Are you sure?' } %>

<!-- app/views/reviews/_form.html.erb -->
<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= form.hidden_field :name, value: current_user.username %>
    <div class="form-group">
      <label>Your name</label>
      <input type="text" value="<%= current_user.username %>" class="form-control" readonly/>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :name, "Your name" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :body, "Your review" %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :doctor_id, "Doctor (leave blank for site review)" %>
    <%= form.collection_select :doctor_id, Doctor.all, :id, :name, include_blank: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
