
<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('reviews.errors.messages.prohibited', count: review.errors.count) %> <%= t('reviews.errors.messages.prohibited') %></h2>
      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <%= form.hidden_field :name, value: current_user.username %>
    <div class="form-group">
      <%= form.label :name, t('reviews.form.name') %>
      <input type="text" value="<%= current_user.username %>" class="form-control" readonly/>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :name, t('reviews.form.name') %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :body, t('reviews.form.body') %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :doctor_id, t('reviews.form.doctor_id') %>
    <%= form.collection_select :doctor_id, Doctor.all, :id, :name, include_blank: true, class: 'form-control' %>
  </div>

  <div class="form-group form-check">
    <%= form.check_box :site_review, class: 'form-check-input' %>
    <%= form.label :site_review, t('reviews.form.site_review'), class: 'form-check-label' %>
  </div>

  <div class="actions">
    <%= form.submit t('helpers.submit.create'), class: 'btn btn-primary' %>
  </div>
<% end %>
