<%= form_with model: @review do |form| %>
  <% if user_signed_in? %>
    <%= form.hidden_field :name, value: current_user.username %>
    <div class="form-group">
      <label>Your name</label>
      <input type="text" value="<%= current_user.username %>" class="form-control" readonly/>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :name, "Your name" %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :body, "Your review" %>
    <%= form.text_area :body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :doctor_id, "Doctor (leave blank for site review)" %>
    <%= form.collection_select :doctor_id, Doctor.all, :id, :name, include_blank: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
